# {{ ansible_managed }}
fastcgi_cache_path {{ fastcgi_cache_path }} levels=1:2 keys_zone=WORDPRESS:100m
                   max_size={{ fastcgi_cache_size }} inactive=60m use_temp_path=off;
fastcgi_cache_key "$scheme$request_method$host$request_uri";
