{
  "agent": { "metrics_collection_interval": 60 },
  "metrics": {
    "namespace": "TerminalTwister/{{ domain }}",
    "metrics_collected": {
      "mem": { "measurement": ["mem_used_percent"] },
      "disk": { "measurement": ["used_percent"], "resources": ["/"] }
    }
  },
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "/var/log/nginx/{{ domain }}.access.log",
            "log_group_name": "/wordpress/{{ domain }}/nginx-access",
            "log_stream_name": "{instance_id}",
            "retention_in_days": {{ cloudwatch_log_retention_days }}
          },
          {
            "file_path": "/var/log/nginx/{{ domain }}.error.log",
            "log_group_name": "/wordpress/{{ domain }}/nginx-error",
            "log_stream_name": "{instance_id}",
            "retention_in_days": {{ cloudwatch_log_retention_days }}
          },
          {
            "file_path": "/var/log/wp-backup.log",
            "log_group_name": "/wordpress/{{ domain }}/wp-backup",
            "log_stream_name": "{instance_id}",
            "retention_in_days": {{ cloudwatch_log_retention_days }}
          },
          {
            "file_path": "/var/log/fail2ban.log",
            "log_group_name": "/wordpress/{{ domain }}/fail2ban",
            "log_stream_name": "{instance_id}",
            "retention_in_days": {{ cloudwatch_log_retention_days }}
          }
        ]
      }
    }
  }
}
